USE [master]
GO
/****** Object:  Database [ZYN]    Script Date: 5/21/2025 3:15:08 PM ******/
CREATE DATABASE [ZYN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZYN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ZYN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZYN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ZYN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZYN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZYN]
GO
/****** Object:  Table [dbo].[CambiarProducto]    Script Date: 5/21/2025 3:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CambiarProducto](
	[IdCambioProducto] [int] IDENTITY(1,1) NOT NULL,
	[CodigoProductoAnterior] [varchar](50) NOT NULL,
	[CodigoProductoNuevo] [varchar](50) NOT NULL,
	[FechaCambio] [date] NOT NULL,
	[IdCompra] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCambioProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 5/21/2025 3:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[FechaCompra] [date] NULL,
	[CodigoProducto] [varchar](255) NULL,
	[NombreProducto] [varchar](255) NULL,
	[CantidadComprada] [int] NULL,
	[CostoSinIVA] [decimal](12, 4) NULL,
	[PorcentajeIVA] [decimal](12, 4) NULL,
	[IVA] [decimal](12, 4) NULL,
	[CostoConIVA] [decimal](12, 4) NULL,
	[Proveedor] [varchar](255) NULL,
 CONSTRAINT [PK__Compras__0A5CDB5C2D46DC13] PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentasPorCobrar]    Script Date: 5/21/2025 3:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentasPorCobrar](
	[IdCuenta] [int] IDENTITY(1,1) NOT NULL,
	[NumOrdenCompra] [int] NULL,
	[NombreCliente] [varchar](255) NULL,
	[TipoPagoEfecTrans] [varchar](255) NULL,
	[AbonoEfectivoTransferencia1] [decimal](12, 4) NULL,
	[FechaPagadoEfectivo1] [date] NULL,
	[AbonoEfectivoTransferencia2] [decimal](12, 4) NULL,
	[FechaPagadoEfectivo2] [date] NULL,
	[AbonoEfectivoTransferencia3] [varchar](255) NULL,
	[FechaPagadoEfectivo3] [varchar](255) NULL,
	[TotalEfectivo] [decimal](18, 4) NULL,
	[Factura] [varchar](255) NULL,
	[NumeroFactura] [decimal](12, 4) NULL,
	[IVAPagoEfectivoFactura] [decimal](18, 4) NULL,
	[TipoPago2] [varchar](255) NULL,
	[ValorPagadoTarjeta2] [decimal](18, 4) NULL,
	[Banco2] [varchar](255) NULL,
	[Lote2] [decimal](12, 4) NULL,
	[FechaPagado2] [date] NULL,
	[PorcentajeComisionBanco2] [decimal](12, 4) NULL,
	[ComisionTCFactura2] [decimal](18, 4) NULL,
	[PorcentajeIRF2] [decimal](12, 4) NULL,
	[IRF2] [decimal](18, 4) NULL,
	[PorcentajeRetIVA2] [decimal](12, 4) NULL,
	[RetIVAPagoTarjetaCredito2] [decimal](18, 4) NULL,
	[TotalComisionBanco2] [decimal](18, 4) NULL,
	[ValorNetoTC2] [decimal](18, 4) NULL,
	[TipoPago3] [varchar](255) NULL,
	[ValorPagadoTarjeta3] [decimal](18, 4) NULL,
	[Banco3] [varchar](255) NULL,
	[Lote3] [varchar](255) NULL,
	[FechaPagado3] [varchar](255) NULL,
	[PorcentajeComisionBanco3] [decimal](12, 4) NULL,
	[ComisionTCFactura3] [decimal](18, 4) NULL,
	[PorcentajeIRF3] [decimal](12, 4) NULL,
	[IRF3] [decimal](18, 4) NULL,
	[PorcentajeRetIVA3] [decimal](12, 4) NULL,
	[RetIVAPagoTarjetaCredito3] [decimal](18, 4) NULL,
	[TotalComisionBanco3] [decimal](18, 4) NULL,
	[ValorNetoTC3] [decimal](18, 4) NULL,
	[ComisionBancoTotales] [decimal](12, 4) NULL,
	[TotalesValorNetoTC] [decimal](18, 4) NULL,
	[ValorXCobrarConIVATotal] [decimal](18, 4) NULL,
	[BaseRetencionTotal] [decimal](18, 4) NULL,
	[SaldoXCobrarCliente] [decimal](18, 4) NULL,
	[CostoConIVA] [decimal](18, 4) NULL,
	[UtilidadDescontadoIVASRI] [decimal](18, 4) NULL,
	[PorcentajeGanancia] [decimal](18, 4) NULL,
 CONSTRAINT [PK__CuentasP__D41FD706B83861F1] PRIMARY KEY CLUSTERED 
(
	[IdCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentasPorPagarConsultor]    Script Date: 5/21/2025 3:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentasPorPagarConsultor](
	[IdCuentasPorPagarConsultor] [int] IDENTITY(1,1) NOT NULL,
	[NumOrdenCompra] [int] NULL,
	[NombreConsultor] [varchar](255) NOT NULL,
	[ComisionPorPagarConsultorTotal] [decimal](12, 4) NULL,
	[PagadoConsultor] [decimal](12, 4) NULL,
	[BancoDistrConsultor] [varchar](255) NULL,
	[CuentaDistrConsultor] [nvarchar](50) NULL,
	[FechaPagoConsultor] [date] NULL,
	[NumComprobante] [nvarchar](50) NULL,
	[SaldoPorPagarConsultor] [decimal](12, 4) NULL,
	[SaldoFinal] [decimal](18, 2) NULL,
 CONSTRAINT [PK__CuentasP__1B4C02A1B8443CD9] PRIMARY KEY CLUSTERED 
(
	[IdCuentasPorPagarConsultor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentasPorPagarPadreEmpresarial]    Script Date: 5/21/2025 3:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentasPorPagarPadreEmpresarial](
	[IdCuentasPorPagarPadreEmpresarial] [int] IDENTITY(1,1) NOT NULL,
	[NumOrdenCompra] [int] NULL,
	[NombrePadreEmpresarial] [varchar](255) NOT NULL,
	[ComisionPorPagarPadreEmpresarialTotal] [decimal](12, 4) NULL,
	[PagadoPadreEmpresarial] [decimal](12, 4) NULL,
	[BancoDistrPadreEmpresarial] [varchar](255) NULL,
	[CuentaDistriPadreEmpresarial] [nvarchar](50) NULL,
	[FechaPagoPadreEmpresarial] [date] NULL,
	[NumComprobante] [nvarchar](50) NULL,
	[SaldoPorPagarPadreEmpresarial] [decimal](12, 4) NULL,
	[SaldoFinal] [decimal](18, 2) NULL,
 CONSTRAINT [PK__CuentasP__60666A465A46461E] PRIMARY KEY CLUSTERED 
(
	[IdCuentasPorPagarPadreEmpresarial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devoluciones]    Script Date: 5/21/2025 3:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devoluciones](
	[IdDevolucion] [int] IDENTITY(1,1) NOT NULL,
	[OrdenCompra] [nvarchar](50) NULL,
	[CodigoProducto] [nvarchar](50) NULL,
	[CantidadDevuelta] [int] NULL,
	[FechaDevolucion] [date] NULL,
	[Cliente] [nvarchar](100) NOT NULL,
	[IdPrestamo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDevolucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenCompra]    Script Date: 5/21/2025 3:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenCompra](
	[IdOrdenCompra] [int] IDENTITY(1,1) NOT NULL,
	[NumOrdenCompra] [int] NULL,
	[FechaOrdenCompra] [date] NULL,
	[NombreCliente] [varchar](255) NULL,
	[Telefono] [varchar](100) NULL,
	[Ciudad] [varchar](100) NULL,
	[NombreConsultor] [varchar](255) NULL,
	[PorcentajeComisionConsultor] [decimal](5, 4) NULL,
	[ComisionPorPagarConsultor] [decimal](10, 4) NULL,
	[NombrePadreEmpresarial] [varchar](255) NULL,
	[PorcentajePadreEmpresarial] [decimal](5, 4) NULL,
	[ComisionPorPagarPadreEmpresarial] [decimal](10, 4) NULL,
	[PorcentajeIVA] [decimal](5, 2) NULL,
	[CodigoProducto] [varchar](50) NULL,
	[NombreProducto] [varchar](255) NULL,
	[CantidadVendida] [int] NULL,
	[PorcentajeDescuento] [decimal](10, 4) NULL,
	[PrecioVentaConIVA] [decimal](18, 6) NULL,
	[PVPSinIVA] [decimal](18, 6) NULL,
	[ValorDescuento] [decimal](18, 6) NULL,
	[BaseRetencion] [decimal](18, 6) NULL,
	[ValorBaseRetencion] [decimal](18, 6) NULL,
	[ValorCliente] [decimal](18, 6) NULL,
	[ValorXCobrarConIVA] [decimal](18, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrdenCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 5/21/2025 3:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[IdPrestamo] [int] IDENTITY(1,1) NOT NULL,
	[CodigoProducto] [nvarchar](50) NULL,
	[NombreProducto] [nvarchar](255) NULL,
	[CantidadPrestadaTotal] [int] NULL,
	[CantidadPrestada] [int] NULL,
	[CantidadDevuelta] [int] NULL,
	[FechaPrestamo] [date] NULL,
	[Cliente] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 5/21/2025 3:15:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[CodigoProducto] [varchar](50) NOT NULL,
	[NombreProducto] [varchar](255) NOT NULL,
	[Categoria] [varchar](100) NULL,
	[CostoConIVA] [decimal](10, 2) NULL,
	[PvpSinIVA] [decimal](10, 2) NULL,
	[CalculoIVA] [decimal](10, 2) NULL,
	[PrecioVentaConIVA] [decimal](10, 2) NULL,
	[CantidadInicial] [int] NULL,
	[CantidadVendida] [int] NULL,
	[CantidadPrestada] [int] NOT NULL,
	[CantidadInventario] [int] NULL,
	[IVA] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [CodigoProducto], [NombreProducto], [Categoria], [CostoConIVA], [PvpSinIVA], [CalculoIVA], [PrecioVentaConIVA], [CantidadInicial], [CantidadVendida], [CantidadPrestada], [CantidadInventario], [IVA]) VALUES (1, N'ARA010', N'BOTE DE PLASTICO - PURIFICADOR ALCALINE MAX 12 L - NEGRA BASE DE PLASTICO', N'LINEA ALCALINE', CAST(419.46 AS Decimal(10, 2)), CAST(838.92 AS Decimal(10, 2)), CAST(125.84 AS Decimal(10, 2)), CAST(964.76 AS Decimal(10, 2)), 0, 0, 0, 0, CAST(0.15 AS Decimal(10, 2)))
INSERT [dbo].[Productos] ([IdProducto], [CodigoProducto], [NombreProducto], [Categoria], [CostoConIVA], [PvpSinIVA], [CalculoIVA], [PrecioVentaConIVA], [CantidadInicial], [CantidadVendida], [CantidadPrestada], [CantidadInventario], [IVA]) VALUES (2, N'ARA012', N'VASO INTERNO PURIFICADOR ALCALINE MAX (ASISTENCIA)', N'LINEA ALCALINE', CAST(8.41 AS Decimal(10, 2)), CAST(16.82 AS Decimal(10, 2)), CAST(2.52 AS Decimal(10, 2)), CAST(19.34 AS Decimal(10, 2)), 0, 0, 0, 0, CAST(0.15 AS Decimal(10, 2)))
INSERT [dbo].[Productos] ([IdProducto], [CodigoProducto], [NombreProducto], [Categoria], [CostoConIVA], [PvpSinIVA], [CalculoIVA], [PrecioVentaConIVA], [CantidadInicial], [CantidadVendida], [CantidadPrestada], [CantidadInventario], [IVA]) VALUES (3, N'ARA014', N'BASE DE PLASTICO PARA PURIFICADOR  MAX  -  NEGRO', N'LINEA ALCALINE', CAST(45.84 AS Decimal(10, 2)), CAST(91.68 AS Decimal(10, 2)), CAST(13.75 AS Decimal(10, 2)), CAST(105.43 AS Decimal(10, 2)), 0, 0, 0, 0, CAST(0.15 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
ALTER TABLE [dbo].[CambiarProducto] ADD  DEFAULT (getdate()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [CantidadPrestada]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0.15)) FOR [IVA]
GO
USE [master]
GO
